@mixin breakpoint($screensize) {
    @media only screen and (max-width: $screensize) {
        @content;
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes $animation-name {
        @content;
    }
    @-moz-keyframes $animation-name {
        @content;
    }
    @keyframes $animation-name {
        @content;
    }
}

@mixin animation($string) {
    -webkit-animation: #{$string};
    -moz-animation: #{$string};
    -ms-animation: #{$string};
    border-radius: #{$string};
}
