@import 'vars';
@import 'functions';
@import 'fonts';
@import 'base';

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

section {
    max-width: 960px;
    padding: 30px 0px 50px 0px;
    margin: 20px 0;
    margin-top: 70px;

    @include breakpoint(450px) {
        margin-top: 10px;
    }

    .title {
        border: 0;
        outline: none;
        margin: 0 0 20px 0;
        padding: 0 0 5px 0;

        @include breakpoint(528px) {
            margin-bottom: 0;
        }

        p {
            color: $subtext;
            text-align: center;
            font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-size: 18px;
            @include breakpoint(450px) {
                font-size: 15px;
            }

            @include breakpoint(390px) {
                font-size: 14px;
            }
        }

        i {
            color: white;
        }

        h1 {
            font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: center;
            margin: 0 0 10px 0;
        }

        .sitename {
            color: inherit;
        }

        .credits {
            font-size: 13px;
            font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: normal;
            color: #696969;
            margin-top: -27px;
            &.right {
                float: right;
            }
        }
    }

    .text-center {
        text-align: center;

        .circular {
            width: 300px;
            height: 300px;
            border-radius: 150px;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px;
            margin-bottom: 15px;
        }
    }
}
